body{
    font-family: Arial, Helvetica, sans-serif;
    outline-width: 0;
    border: none;
}
:root{
    --black:#032f32;
    --correct:#50bfc8;
    --light-correct: #50bec86e;
    --primary-color: #ee8475;
    --warning: #e25b45;
    --light:#fac172;
    --sunset:#fac17280;
    --second-light:#ee75bc8e;
    --border-radius:10px;
}
main{
    background-image: radial-gradient(farthest-side at 100% 30%, var(--light-correct)0%,rgba(0,0,0,0)100%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.playing{
    min-width: 15rem;
    padding: 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*******************play***********************/
.containerWord{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vh;
    flex-direction: column;
}
#userText{
    opacity: 0;
}
#show{
    max-width: 55vw;
    min-width: 30vw;
}
.currentWord{
    font-family: "Work Sans";
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    justify-content: center;
    margin-bottom: 3vh;
    padding: 1vw 0;
}
.underscore{
    color: var(--black);
    position:relative;
    width: 20px;
    height: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 1.2vw;
}
.underscore::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5px;
    top: 100%;
    left: 0;
    border-radius: 50px;
    border: solid 1px var(--black);
    background-color: transparent;
}
.sectionError{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    padding: 10px 0;
}
.sectionError p{
    color: var(--black);
    padding: 0 5px;
    margin: 0;
}
input, form{
    height: 1px;
}
/*******************hangman*********************/
.munhieco svg{
    width: 100%;
    height: 48vh;
}
#first {
    fill:var(--black);
    animation-name: like;
}
.second {
    fill:#032f32;
}
.third {
    fill:#032f32;
}
.four {fill:#032f32}
.five {fill:#50bfc8}
.six {fill:#50bec8b0}
.seven {fill:#50bfc8}
.eight {fill:#50bfc8}
.nine {fill:#50bec8b0}
.ten {fill:#50bec8b0}
/***********buttons******************/
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 1vw;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#newWord{
    color: var(--black);
    box-shadow: 0 25px 60px var(--light-correct);
    background-color: var(--correct);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}
#newWord:hover{
    box-shadow: 0 25px 60px var(--correct);
}
#losing{
    color: var(--black);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 25px 40px #e7e7e7;
    transition: all 0.6s;
    font-style: italic;
}
#losing:hover{
    box-shadow: 0 30px 30px #e7e7e7;
}
/*******************vidas********************/
.wrapper-lifes{
    font-family: "Work Sans";
    color: var(--black);
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vh;
}
.wrapper-lifes{
    background-color: transparent;
}
.lifes{
    font-size: 2rem;
    align-items: center;
}
.win{
    position: relative;
}
.win::before{
    content: "¡Felicidades!";
    font-family: "Work Sans";
    font-size: 1rem;
    position: absolute;
    top: 30px;
    left: 45%;
}
.wrapper-lifes::before{
    background-color: transparent;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-side at 50% 0%, var(--light-correct),rgba(0,0,0,0));
    z-index: -1;
}
/*ganar*/
.particles{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.particles > span{
    position: absolute;
}
.particle1{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px var(--black);
}
.particle2{
    width: 0.5rem;
    height: 1rem;
    border-radius: 40%;
    background-color: transparent;
    border: solid 1px var(--black);
}
.particle3{
    width: 1rem;
    height: 1rem;
    border-radius: 40%;
    background-color: var(--correct);
}
.particle4{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: var(--light-correct);
}
.particle5{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50% 50% 0 0;
    background-color: var(--primary-color);
}
.particle6{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50% 50% 0 0;
    background-color: var(--correct);
}
.particle7{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid 1.2px var(--primary-color);
}
.particle8,.particle9,.particle10{
    color: var(--correct);
    font-size: 25px;
    font-family: "Work Sans";
    font-weight: bold;
}
/***********clases utiles******************/
.hidden{
    display: none;
}
.madeForMe{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    padding: 0 1vw;
}
.madeForMe p{
    margin: 0;
}
/***********responsive******************/
@media screen and (min-width:700px){
    #show{
        min-width: 50vw;
    }
    .underscore::after{
        width: 120%;
    }
    .wrapper-lifes{
        width: 80%;
    } 
    .munhieco img{
        height: 35vh;
    }
}
@media screen and (max-width:600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction:column;
    }
    .buttons button{
        width: 50vw;
    }
}

@media screen and (max-width:400px){
    #show{
        min-width: 70vw;
    }
    .currentWord{
        padding: 3vw 0;
    }
}