:root{
    font-family: Arial, Helvetica, sans-serif;
    --black:#032f32;
    --correct:#50bfc8;
    --light-correct: #50bec86e;
    --blue-blurred:#50bec849;
    --primary-color: #ee8475;
    --warning: #e25b45;
    --light:#fac172;
    --second-light:#ee83758e;
    --border-radius:10px;
    --gray: rgba(148, 148, 148, 0.719);
    --gray-disabled:rgba(148, 148, 148, 0.164);
}
h1{
    font-family: 'Work Sans';
    margin: 2vw 0 2vw 0;
    color: var(--black);
}
main{
    background-image: radial-gradient(farthest-side at 30% 0%, var(--correct),rgba(0,0,0,0));
}
.wrapper-page{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    height: 58vh;
}
.advices h2{
    font-family: 'Work Sans';
    color: var(--black);
}
.advices{
    border-radius: var(--border-radius);
    background-image: radial-gradient(farthest-side at 30% 0%, rgba(255, 255, 255, 0.452)0%,rgba(0,0,0,0)100%),
    radial-gradient(farthest-side at 100% 90%, var(--blue-blurred) 0%,rgba(0,0,0,0)100%);
   
    max-width: 60%;
    padding: 1vw;
    margin:0 2vw;
}
ul{
    margin: 0;
}
ul li{
    margin: 1.2vw 0 8px 0;
    color: var(--black);
}
/***********************buttons************************/
.container-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1vw;
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.container-welcome button{
    min-width: 25vw;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-white{
    color: var(--black);
    background-color: white;
    border-radius: var(--border-radius);
    transition: all 0.6s;
    font-style: italic;
    padding: 1vw;
    box-shadow: 0 18px 40px #dbdbdb;
}
#addWord:hover{
    position: relative;
}
.button-blue{
    box-shadow: 0 22px 60px var(--correct);
    background-color: var(--correct);
    border-radius: var(--border-radius);
    padding: 1vw;
    color: white;
}
.button-blue:hover{
    box-shadow: 0 18px 60px var(--correct);
}
.newGame{
    position: relative;
}
.newGame button{
    color: white;
}
.newGame:hover{
    font-weight: bold;
}
.blurred{
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
    top:20px;
    background-color: var(--blue-blurred);
    box-shadow: 0 0px 50px var(--blue-blurred), 
                0 0px 20px var(--blue-blurred), 
                0 0px 10px var(--blue-blurred),
                 0 0px 10px var(--blue-blurred);
    animation: gradient 2.8s infinite;
}
@keyframes gradient {
    0%{left:0px;transform: scale(1.4);}
    20%{transform: scale(1.5);}
    40%{transform: scale(0.6);}
    70%{transform: scale(1.7);}
    100%{transform: scale(1);left:90%;}
}
.buttons-modal{
    display: flex;
    gap:10px;
    margin-top:1rem;
    justify-content: end;
}
.advice-modal{
    background-color: var(--gray-disabled);
    border-radius: var(--border-radius);
    padding:1vw 0vw 1vw 1vw;
    margin: 1.3vw 0 1vw 0;
    font-family: "Work Sans";
    font-style: italic;
    display: flex;
    align-items: center;
}
.advice-modal img{
    padding-right: 0.5vw;
}
/****************modos de juego*****************************************/
.gameModes{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    color: var(--gray);
    padding: 0.5vw 0;
    margin-bottom: 1vw;
    font-size: 1.2rem;
    width: 100%;

    display: flex;
    justify-content: center;
}
input[type="radio"]:checked + label{
    background-color: var(--light-correct);
    color: var(--black);
    border-radius: var(--border-radius);
}
/****************window modal*********************/
.windowModal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(26, 26, 26, 0.356);
    transition: all 0.5s;
}
.modal{
    display: flex;
    justify-content: center;
    animation-name: show;
    animation-duration: 0.5s;
    position: fixed;

    background-color: white;
    border-radius: var(--border-radius);
    box-shadow:  -15px 24px 55px #25252579;
    /* height: 35vh; */
    width: 55vw;
    padding: 3vw;
}
.content{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
}
.titleModal{
    font-size: 20px;
    color: var(--black);
    margin: 0.5vh 0 1vh 0;
}
input{
    outline: 0;
    border: none;
    height: 2rem;
    border: solid 1px var(--gray-disabled);
    border-radius: var(--border-radius);
    padding: 0.6vw 0vw 0.6vw 1vw;
    width: 97%;
}
input:focus{
    border: solid 1px var(--black);
    color: var(--black);
}
#add{
    box-shadow: 0 15px 60px var(--light-correct);
    background-color: var(--correct);
    border-radius: var(--border-radius);
    padding: 1vw 1.3vw;
    color: white;
    background-image: radial-gradient(farthest-side at 100% 10%, #90fceac0,rgba(0,0,0,0));
}
#add:hover{
    box-shadow: 0 10px 60px var(--correct);
}
#cancel:hover{
    box-shadow: 0 10px 40px rgba(51, 51, 51, 0.247);
}
#visualWarning{
    display: flex;
    width: 90%;
    font-size: 'Work Sans';
    font-style: italic;
    color: var(--warning);
    margin: 5px 0 0 0;
    overflow: hidden;
}
.alerts{
    position: fixed;
    background-color: #fff;
    width: 40vw;
    padding: 3vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alerts p{
    font-family: "Work Sans";
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
}
.withoutWords{
    top: 20%;
    left: 25%;
    bottom: 50%;
}
@keyframes show{
    0%{opacity: 0%; transform: scale(0);}
    100%{opacity: 100%; transform: scale(1);}
}
.show{
    animation-name: show;
    animation-duration: 0.3s;
}
.hidden{
    display: none;
}
/***********************media queries********************************/
@media screen and (max-width:750px) {
    .wrapper-page{
        flex-direction: column;
    }
    ul li{
        margin: 2vw 0 8px 0;
    }
    .advices{
        max-width: 90%;
        margin: 0 auto;
    }
    .buttons{
        flex-direction: column;
        margin-top: 4vw;
    }
    .modal{
        width: 70vw;
    }
}
@media screen and (max-width:500px) {
    .container button{
        padding: 2vw;
    }
    .buttons{
        margin-top: 3vw;
    }
    #add{
        padding: 1.5vw 2vw;
    }
}
@media screen and (max-width:300px) {
    .wrapper-page{
        height: 50vh;
    }
    .modal{
        width: 75vw;
    }
    #add{
        padding: 1.8vw 2.4vw;
    }
}