:root{
    font-family: Arial, Helvetica, sans-serif;
    --black:#032f32;
    --correct:#50bfc8;
    --light-correct: #50bec86e;
    --primary-color: #ee8475;
    --warning: #e25b45;
    --light:#fac172;
    --second-light:#ee83758e;
}
h1{
    font-family: 'Work Sans';
}
/***********************buttons************************/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.container button{
    width: 90vw;
    border-bottom: solid 1px #252525;
    padding: 1vw;
}
/****************window modal*********************/
.windowModal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
}
.modal{
    display: flex;
    justify-content: center;
    animation-name: show;
    animation-duration: 0.5s;
    position: fixed;

    background-color: white;
    box-shadow:  -14px 14px 43px #e0e0e0,
    14px -14px 43px #ffffff4d;
    height: 35vh;
    width: 70vw;
    padding: 3vw;
}
.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}
.buttons button{
    margin-top: 15px;
    border-radius: 20px;
}
label[for="word"]{
    font-size: 20px;
}
.content input{
    outline: 0;
    border: none;
    height: 2rem;
    border-bottom: solid 1px #000;
}
input{
    width: 100%;
}
#add{
    display: inline-flex;
    position: relative;
}
#add::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width: 90%;
    height: 100%;
    border-radius: 100%;
    transform: rotate(345deg);
    border: solid 1px #000;
}
#visualWarning{
    display: flex;
    width: 90%;
    font-size: 'Work Sans';
    font-style: italic;
    color: var(--warning);
    margin: 5px 0 0 0;
    overflow: hidden;
}
.alerts{
    position: fixed;
    background-color: #fff;
    width: 40vw;
    padding: 3vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes show{
    0%{opacity: 0%; transform: scale(0);}
    100%{opacity: 100%; transform: scale(1);}
}
.show{
    animation-name: show;
    animation-duration: 0.38s;
}
.alerts{
    background-color: #fff;
}
.alerts p{
    font-family: "Work Sans";
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
}
.hidden{
    display: none;
}
/***********************media queries********************************/
@media screen and (max-width:500px) {
    .container button{
        padding: 2vw;
    }
    .buttons button{
        margin-top: 5vw;
    }
}
/****************************DARK MODE***********************************/
.oscuro .modal{
    box-shadow:  -14px 14px 43px #252525,
    14px -14px 43px #000;
}