body{
    font-family: Arial, Helvetica, sans-serif;
    outline-width: 0;
    border: none;
}
:root{
    --primary-color:rgb(22, 33, 133);
}
/* body{
    background-color: rgb(71, 71, 71);
} */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}
.containerWord{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vh;
    flex-direction: column;
}
#userText{
    opacity: 0;
}
#show{
    max-width: 55vw;
    min-width: 30vw;
}
.currentWord{
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    justify-content: center;
    margin-bottom: 3vh;
    padding: 1vw 0;
}
.underscore{
    color: var(--primary-color);
    position:relative;
    width: 20px;
    height: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 1.2vw;
}
.underscore::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 50px;
    background-color: var(--primary-color);
}
p{
    color: var(--primary-color);
}
.sectionError{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    padding: 10px 0;
}
.sectionError p{
    padding: 0 5px;
    margin: 0;
}
/***********buttons******************/
button{
    cursor: pointer;
}
.buttons button{
    background-color: #fff;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    padding: 1vw;
    border-radius: 7px;
}
/* button::after{
    content: "\e90d"; estrella
    content: "\e900"; es flecha
} */
@font-face {
    font-family: "iconmoon";
    src: url(../font/icomoon.woff2) format('woff2');
    font-style: normal;
}
.icomoon{
    font-display: auto;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}
.icomoon::after{
    font-family: "iconmoon";
    content: "\e900";
}
@media screen and (min-width:700px){
    #show{
        min-width: 50vw;
    }
    .underscore::after{
        width: 120%;
    }
}

@media screen and (max-width:400px){
    #show{
        min-width: 70vw;
    }
    .currentWord{
        padding: 3vw 0;
    }
}
@media screen and (max-width:300px){
    .currentWord{
        padding: 7vw 0;
    }
}